# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Ambientes virtuais
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# Variáveis de ambiente
.env

# Editores e sistema operacional
.vscode/
.idea/
.DS_Store
